
body {
    background-color: bisque;
}

.clickerContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 11%;
}

.containerContent {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    row-gap: 80px;
}

.counter {
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000; 
}

.btn {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 100%;
}

.btn:active {
    background-color: rgb(235, 235, 235);
    box-shadow: 1px 1px 0px 0 rgba(0,0,0,0.2), 0 0px 0px 0 #666;
    transform: translateY(4px);
}

.cat {
    position: relative;
    cursor: pointer;
}

.cat-open {
    width: 277px;
    height: 320px;
    position: absolute;
    top: 320px;
}

